<h1>About DateSpot</h1>

<p>
There's nothing worse than the pain of figuring out where to take your date on
a first date to try to make a good impression on a first date. Or, when you are
tired of the same old places with your significant other.
<br />
<br />
DateSpot is the solution to your problems! Browse the hottest locations in your
area submitted by other people who have tried and tested each DateSpot. Read
reviews, submit your own, and vote on which spots you enjoyed.
</p>
