@import 'colors';

body {
  background-color: $white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;

  h1 {
    text-align: center;
    color: $blue;
  }
}

.top-bar {
  background-color: $light-blue;

  .menu {
    background-color: $light-blue;

    .title {
      font-size: 22px;

      a:visited {
        color: $blue;
      }

      a:hover {
        color: $white;
      }

      a:active {
        color: $blue;
        background-color: $white;
      }
    }
  }

  ul.menu.links {
    background-color: $light-blue;
    color: $white;

    a:visited {
      color: $white;
    }

    a:hover {
      color: $blue;
    }

    a:active {
      color: $white;
      background-color: $blue;
    }
  }
}

.callout {
  background-color: $grey;
  max-width: 1050px;
  display: block;
  margin: auto;
  margin-top: 20px;

  .link {
    background-color: $white;
  }
}

.textfield {
  max-width: 500px;
  display: inline-block;
}

.location {
  width: 800px;
}


.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  border-width: 5px;
  border-color: $light-blue;

  a {
    color: $blue;
  }
}

.welcome{
  background-color: $blue;
  font-weight: bold;
  color: $white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;

}

.goodbye{
  background-color: $blue;
  font-weight: bold;
  color: $white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}
