@import 'colors';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Luckiest+Guy&display=swap');

body {
  background-color: $white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;

  h1 {
    text-align: center;
    color: $blue;
    font-family: 'Luckiest Guy', sans-serif;
  }

  h2 {
    text-align: center;
    color: $blue;
    font-weight: bold;
  }
}

.top-bar {
  background-color: $light-blue;

  .menu {
    background-color: $light-blue;

    .title {
      font-family: 'Bungee Outline', sans-serif;
      font-size: 30px;

      a:visited {
        color: $blue;
      }

      a:hover {
        color: $white;
      }

      a:active {
        color: $blue;
      }
    }
  }

  ul.menu.links {
    background-color: $light-blue;
    color: $white;
    font-size: 20px;

    a:visited {
      color: $white;
    }

    a:hover {
      color: $blue;
    }

    a:active {
      color: $white;
      background-color: $blue;
    }
  }
}

.callout {
  background-color: $grey;
  max-width: 1050px;
  display: block;
  margin: auto;
  margin-top: 20px;

  .link {
    background-color: $white;
  }

  .box {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    padding-top: 30px;
    border-width: 5px;
    border-color: $light-blue;

    a {
      color: $blue;
    }
  }
}

.textfield {
  max-width: 500px;
  display: inline-block;
}

.locations-title {
  font-family: 'Luckiest Guy', sans-serif;
}

.submit {
  font-size: 20px;
  text-align: center;

  a:visited {
    color: $blue;
  }

  a:hover {
    font-style: italic;
  }

  a:active {
    background-color: $light-blue
  }
}

.location-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.location-box {
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  height: 120px;
  text-align: center;
  padding-top: 30px;
  border-width: 5px;
  border-color: $light-blue;

  .index-rating {
    text-align: center;
  }

  a:visited {
    color: $blue;
  }

  a:hover {
    font-style: italic;
  }
}

.location-info {
  text-align: center;
  display: block;

  img {
    max-width: 500px;
    height: auto;
    display: inline-block;
  }

  .fa-arrow-circle-up{
    color: green;
    width: 40px;
    margin: 0px;
    display: inline-block;
  }

  .fa-arrow-circle-down{
    color: red;
    width: 40px;
    margin: 0px;
    display: inline-block;
  }

  .rating {
    width: 40px;
    margin: auto;
    display: inline-block;
    text-align: center;
  }

  .address {
    text-align: center;
    p {
      margin-bottom: 0px;
    }
  }
}

.welcome {
  background-color: $blue;
  font-weight: bold;
  color: $white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}

.goodbye {
  background-color: $blue;
  font-weight: bold;
  color: $white;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
}


.delete-button{
  margin-left: 10px;
  margin-top: 10px;
}

.edit-button{
  margin-left: 45%;
  margin-top: 10px;
}
