
<div class="callout">
  <h1>DateSpot</h1>
  <p>Never go on a boring date again!</p>
</div>


<div class="callout">
  <h3>Top DateSpots</h3>
  <ul>
    <% @locations.each do |location| %>
      <li>
        <%= link_to location.name, location_path(location.id) %>
      </li>
    <% end %>
  </ul>
</div>
